.hero {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgb(218, 227, 236, 0.1), rgb(218, 227, 236, 0.1)),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  color: aliceblue;
}

.hero-text h1 {
  margin: 10px auto 20px;
  font-size: 50px;
}

.hero-text p {
  margin: 10px auto 20px;
  font-size: large;
}

/* media query */
@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
  }

  .hero-text p {
    font-size: 14px;
    margin: 15px auto 30px;
  }
}
